html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
}

/*Headder*/
.header {
    width: 100%;
    background: linear-gradient(90deg,#06165f 0%,#3c00bc 100%);
}

.header__inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    gap: 1rem;
}

@media screen and (min-width: 400px) {
    .header__inner{
        justify-content: space-between;
        padding: 0 20px;
    }
}

.header__logo{
    color:white;
    margin-top: 0px;
}

@media screen and (min-width: 400px) {
    .header__logo{
        margin-top: 20px;
    }
}

.header__buttonGrp{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.header__button{
    padding: 7px 10px;
    border-radius: 10px;
    border: 0;
}
.header__button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.header__button--submit{
    background: orange;
}

.header__button--signIn{
    background: green;
    color: white;
}

/*General*/

.mainContainer{
    margin: auto;
}

/*Search*/

.search__wrapper{
    position: relative;
    padding: 1px 45px 1px 1px;
    max-width: 350px;
    width: 100%;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #EAE8F6;
}

.search__title{
    margin-bottom: 10px;
    text-align: center;
}

.search__input{
    padding: 8px 30px 8px 8px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid lightgray;

}
.search__searchIcon{
    position: absolute;
    top: 7px;
    right: 10px;
}

/*FAQ*/

.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
}

.faq__list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 20px;
}

.faq__list-item{
    min-height: 8rem;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    gap:2pem;
    padding: 20px;
    border: 1px solid #ccc;
}

/*Footer*/

.footer{
    padding: 20px;
    background: linear-gradient(90deg,#06165f 0%,#3c00bc 100%);

}

.footer__column{
    flex-grow: 1;
}

.footer__content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
